.anketa
{
  margin-top:100px;

}

.form_anketa
{
  margin-left: 110px;
  
}

TD
{
  font-size: 16px;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

table {
  margin: 0 auto;
  border-collapse: collapse; 
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
  color: #0C213B;
}
caption {
  font-family: annabelle, cursive;
  font-weight: bold;
  font-size: 2em;
  padding: 10px; 
  color: #20032f;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
 }
caption:before, caption:after {
  color: #A9E2CC;
  margin: 0 10px;
}
th {
  padding: 10px; 
  border: 1px solid #A9E2CC;
}
td {
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #A9E2CC;
}
.first {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.form2{
  margin-left: 50px;
}

.want
{
  font-weight: bold;
  text-align: center;
}