.anketa
{
  margin-top:100px;

}

.form_anketa
{
  margin-left: 330px;
  
}

label
{
  font-size: 24px;/*20px*/
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

legend
{
  font-size: 24px;
}

form{
  margin-left: 350px;
}

.gender
{
  width:20px;
  height:20px;
}

.tab{
  margin-left: 200px;
}