.anketa
{
  margin-top:100px;

}

.form_anketa
{
  margin-left: 330px;
  
}

TD
{
  font-size: 20px;/*20px*/
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

/*.ui-datepicker-calendar {
  display: none;
}*/