.name{
    margin-top: -70px;
}

input{
    background: white;
    width: 100%;
    box-sizing: border-box;
    height:50px ;
    font-size: 20px;
    font-weight: 0.5px;
    padding-left:25px;
    border: 3px solid gray;
    color: gray;
  }
  input:focus{
    background: #edf1f5;
    border: 3px solid #86a8e7;
    outline:none;
    color: #86a8e7;
  }
  
  span{
    margin-right: 10px;
    text-align:center;
    height:50px;
    width: 0;
    opacity: 0;
    -webkit-transition:0.3s;
    transition: 0.3s linear;
  }
  
  i{
    cursor: pointer;
  }
  button{
    background-color:#86a8e7; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: outside;
    font-size: 15px;
    border-radius:4px;
    font-family:Bad Script;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  ul{
    font-size: 16px;
    color:rgb(7, 43, 59);
  }
 
  
  /*Таблица*/
.table_dir
{
  margin-top: 10px;
  margin-left: -60px;
  
}

table{
  border-collapse: collapse;
  background-color: #fff;
  max-width: 900px;
  text-align: center;
  margin-left: -10px;
}
th, td{
  padding: 10px 10px 10px 10px;
  border: 1px solid rgb(7, 43, 59);
}
  
th {
  text-align: left;
  padding: 10px;
}
tr:nth-child(odd) { background-color: #fff; }

.view
{
  padding-left: 250px;
}