
body{
  background-color: #88E3E9; /*#79dee7*/
 }

.container {
  width: 100%;
  max-width: 1080px;
  padding: 20px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.top-menu {
  background: #26C5E8;/*#5cc9e2*/
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo 
{
  display: inline-block;
  margin-left: 90px;
}

h1
{
  margin-top:-115px;
  margin-left: 180px;
  color:#fff;
  font-family: 'Montserrat', sans-serif;
}

h2
{
  margin-top:-90px;
  margin-left: 110px;
  color:rgb(0, 33, 134);
  font-family: 'Montserrat', sans-serif;
}

.menu-main {
  list-style: none;
  margin: 0px;
  padding: 0;
  float: right;
  margin-left: 325px;
}
.menu-main li {display: inline-block;}
.menu-main a {

  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #edf6f8;
  transition:.3s linear;
  left:-85px;
}

.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}


/*фоновая картинка*/
.swimmer{

  position: absolute;
  width: 1080px;
  height: 750px;
  left: 210px;
  top: -10px;
  z-index: -1000;
  mix-blend-mode: color-burn;
  filter: alpha(Opacity=20); /* Полупрозрачность для IE */
  opacity: 0.20; /* Полупрозрачность для других браузеров */ 
}

.back_arrow
{
  position: absolute;
  height: 40px;
  width: 40px;
}

form{
  margin-left: 350px;
}

.gender
{
  width:20px;
  height:20px;
}

.tab{
  display: none;
}

.anketa2
{
  margin-top:110px;

}

label
{
  font-size: 24px;/*20px*/
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

legend
{
  font-size: 24px;
}


.anketa2
{
  margin-top:100px;
  margin-left: 200;
}

.info_d{

  padding: 20px; /* Поля */
  background: #E5D3BD; /* Цвет фона */
  border: 2px solid #E81E25; /* Параметры рамки */
  text-align: center;
}

.info_d2{

  padding: 2px; /* Поля */
  background: #89bdde; /* Цвет фона */
  border: 2px solid #66abe7; /* Параметры рамки */
  text-align: center;
 
}

/* default height */
#ad {
  height:60px;
}
@media only screen and (height:90px) {
  /* 90 pixels high */
  #ad {
     height:90px;
  }
}
@media only screen and (height:125px) {
  /* 125 pixels high */
  #ad {
     height:125px;
  }
}